<div class="mt-4">
    <h3>Bài Hát Của Tôi</h3>
    <a href="/me/trash/songs">Thùng rác ({{deletedCount}})</a>

    {{!-- Checkbox select all --}}
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
      </div>

       <select class="form-control form-control-sm checkbox-select-all-options" id="">
          <option>-- Hành Động --</option>
          <option value="delete">Xóa</option>
        </select>

        <button class="btn btn-primary btn-sm disabled check-all-submit-btn">Thực Hiện</button>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
               <th scope="col" colspan="2">Chọn</th>
              <th scope="col">STT</th>
              <th scope="col">Tên Bài Hát</th>
              <th scope="col">Thể Loại</th>
              <th scope="col">Thời Gian Tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
              <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="songIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{ sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.kind}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/songs/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link" data-toggle="modal" data-target="#delete-song-modal" data-id="{{this._id}}">Xóa</a>
                </td>
              </tr>
              {{else}}
                <tr>
                  <td colspan="5">
                    Bạn chưa có bài hát nào!
                    <a href="/songs/create">Đăng Khóa Học Ngay</a>
                  </td>
                </tr>
            {{/each}}

           
        </tbody>
    </table>
</div>

{{!-- Confirm Delete Song --}}
<div id="delete-song-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Bài Hát?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn Có Chắc Muốn Xóa Bài Hát Này Không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-song" type="button" class="btn btn-danger">Xóa Bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Hidden Form --}}
  <form method="POST" name="delete-song-form">
  
  </form>

<script>
    document.addEventListener('DOMContentLoaded',function(){
        let songId;
        let deleteForm = document.forms['delete-song-form'];
        let btnDeleteSong = document.getElementById('btn-delete-song');
        let checkboxAll = $('#checkbox-all');
        let songItemCheckbox = $('input[name="songIds[]"]');
        let checkAllSubmitBtn = $('check-all-submit-btn');

        //when dialog confirm click
        $('#delete-song-modal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) 
        songId = button.data('id')
        });

        //when delete song btn clicked
        btnDeleteSong.onclick = function(){
          deleteForm.action = '/songs/' + songId + '?_method=DELETE';
          deleteForm.submit();
        }

        //Checkbox-all change
        checkboxAll.change(function(){
          let isCheckedAll = $(this).prop('checked');
          songItemCheckbox.prop('checked',isCheckedAll);
        });

        //Song Item Checkbox change
        songItemCheckbox.change(function(){
          let isCheckedAll = songItemCheckbox.length === $('input[name="songIds[]"]: checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          console.log(isCheckedAll);
        });
     
    });
</script>